.down{
    animation: Move 4s linear infinite;
}

@keyframes Move {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(8px);
    }
    50%{
        transform: translateY(16px);
    }
    75%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(0);
    }
}