.toolList-grid{
    display: grid;
    grid-template-columns: 1fr 1fr; /* 两列，每列占用相等空间 */
    grid-template-rows: auto auto; /* 两行，高度根据内容自动调整 */
    gap: 20px; /* 间距 */
}

.toolList-body{
    background-color: rgba(255, 255, 255, 0.5) !important; /* 白色半透明背景 */
    border-radius: 30px;  /* 圆角 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    backdrop-filter: blur(10px); /* 背景模糊效果 */
    overflow: hidden;
}

img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

.tools{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5) !important; /* 白色半透明背景 */
}

.share-h1 {
    font-weight: bolder;
    display: flex;
    justify-content: center;
    color: #ff6b6b;
    background-image: linear-gradient(to right, #ff6b6b, #4ecdc4, #45b7d1, #ff6b6b, #4ecdc4, #45b7d1, #ff6b6b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: gradientFlow 3s linear infinite;
    will-change: background-position; /* 提示浏览器提前优化 */
  }

@keyframes gradientFlow {
    0% {
        background-position: 0% 0%;
    }
    25%{
        background-position: 25% 25%;
    }
    50% {
        background-position: 50% 50%;
    }
    75%{
        background-position: 75% 75%;
    }
    100% {
        background-position: 100% 0%;
    }
}