body {
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  background: radial-gradient(circle at 100% 0%, #a0d9f2, #8dded2, #9ddda7, #c0d57f, #e3c978, #fcbb9e, #ffb0d2, #f7b0ff);
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.transparent-bk {
  background-color: rgba(255, 255, 255, 0.5) !important; /* 白色半透明背景 */
  border-radius: 15px;  /* 圆角 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
  padding: 30px;
  width: 400px;
  backdrop-filter: blur(10px); /* 背景模糊效果 */
}


.Dynamic-gradient-color {
  font-weight: bolder;
  display: flex;
  justify-content: center;
  color: #ff6b6b;
  background-image: linear-gradient(to right, #ff6b6b, #4ecdc4, #45b7d1, #ff6b6b, #4ecdc4, #45b7d1, #ff6b6b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% 100%;
  animation: gradientFlow 3s linear infinite;
  will-change: background-position; /* 提示浏览器提前优化 */
}

@keyframes gradientFlow {
  0% {
      background-position: 0% 0%;
  }
  25%{
      background-position: 25% 25%;
  }
  50% {
      background-position: 50% 50%;
  }
  75%{
      background-position: 75% 75%;
  }
  100% {
      background-position: 100% 0%;
  }
}